* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.calcBody {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 450px;
    margin: auto;
    border: 3px solid black;
    border-radius: 5px;
    background-color: #ccc;
}

.title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    border-bottom: 3px solid black;
    padding: 10px 0;
}

.input {
    width: 70%;
    margin: auto;
    
}

.input #submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    background-color: black;
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
}

.infos {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    margin: 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.infos input {
    width: 130px;
    height: 35px;
    border: 3px solid black;
    border-radius: 5px;
    padding: 5px 5px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

#submit {
    width: 100px;
    margin: auto;
}

#submit:hover {
    cursor: pointer;
    background-color: #ccc;
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.results {
    width: 95%;
    height: 100px;
    border-radius: 5px;
    background-color: black;
    margin: auto;
    color: white;
    font-size: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}